@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}
:root {
  --base-font-size: 1rem;
  --transition1: all 0.5s linear;
  --gradient-moz: -moz-linear-gradient(top, var(--bg-color) 0%, #000000 100%);
  --gradient-webkit: -webkit-linear-gradient(
    top,
    var(--bg-color) 0%,
    #000000 100%
  );
  --gradient: linear-gradient(to bottom, var(--bg-color) 0%, #000000 100%);
  --filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--bg-color)', endColorstr='#000000',GradientType=0 );
  --bg-color: #cb670f;
  --bg-color1: #000;
  --bg-color2: #723806;
  --bg-color3: #e8c975;
  --border-radius: 50%;
  --line-height: 1.5;
  --box-shadow1: 0px 0px 2px 5px #fff;
  --box-shadow2: 0px 0px 2px 5px #cb858c;
  --box-shadow3: -2px -3px 8px 5px #fff;
  --box-shadow4: 0 4px 0 0 #fff;
  --box-shadow5: 0px 0px 20px 0px #fff;
  --box-shadow6: 0 0 7px #000;
  --text-shadow1: 4px 2px 0px #f3f1f1fc;
  --text-shadow2: 2px 0px 4px #f3f1f1fc;
  --color: #fff;
  --color1: #8a4d18;
  --color2: #e0bcbc;
  --color3: #d3cfcf;
  --color4: #e8c96d;
  --color5: #ffe4e3;
  --border1: 1px solid var(--color4);
  --border2: 4px solid transparent;
  --bezier: cubic-bezier(0.52, 0.03, 0.25, 0.99);
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(203, 15, 62, 1) 9%
  );
}
